<% if current_user && (current_user || current_user == @todo_lists.user)%>
<li>
  <%= link_to "New Todo List", new_todo_list_path %>      
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>